/*Shared Style Elements*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a:active {
  color: #f948b2;
}
h2 {
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  text-align: right;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 2rem;
}

/*Navigation Tab*/
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  min-height: 130px;
  margin: 0 auto;
  padding-inline: 1rem;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.logo-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo-icon {
  width: 86.041px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 1.25rem;
}
.pink-letter {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  min-height: 3rem;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-links li {
  list-style: none;
}
.social-button {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.6rem 1.5rem;
}
.social-button a {
  margin-left: 1rem;
}
.nav-links a {
  text-decoration: none;
  color: #3c354f;
}
.tiktok-logo {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/*Hero Section*/

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

.hero-text-area {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
  position: relative;
  flex-shrink: 0;
}
.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-section {
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.hero-text-background-image {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.hero-text-pre-heading {
  text-align: left;
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.hero-text-heading {
  text-align: left;
  font-family: Work Sans;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
.bullet-points {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.points {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.points img {
  width: 24px;
  height: 24px;
}
.hero-text-button {
  display: inline-flex;
  margin-top: 2.5rem;
  gap: 1.5rem;
}

.button-primary {
  display: inline-flex;
  padding: 1.25rem 2.5rem;
  align-items: flex-start;
  gap: 10px;
  border-radius: 3rem;
  color: #fff;
  font-family: Work Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.button-color-1 {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.button-color-2 {
  background: #4ec5f7;
}
.hero-image-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  flex-shrink: 0;
}
.hero-image {
  /* height: 100%; */
  width: 100%;
}

/* Gamer Section */

.gamer-section {
  padding: 6rem 1rem;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1400px;
  padding-inline: 1rem;
}

.gamer-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 40%;
}
.gamer-text-area a {
  margin-bottom: 1.5rem;
}

.gamer-section-bottom-text {
  color: #534c64;
  text-align: right;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}
.gamer-section-bottom-text span {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}
.gamer-image {
  width: 60%;

  flex-shrink: 1;
}
.gamer-image img {
  width: 100%;
}

/* Funny Video Section */
.funny-video-heading {
  margin-top: 7.5rem;
  margin-bottom: 1rem;
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.funny-video-heading span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.funny-video-section p {
  margin-bottom: 3rem;
  text-align: center;
}
.funny-video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  padding-inline: 1rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 24%;
  height: 100%;
  flex-shrink: 0;
}
.card-image {
  width: 100%;
}
.card p {
  margin-top: 1.5rem;
  text-align: left;
  flex-shrink: 0;
}

/* Feature Section */

.featured-section {
  max-width: 1400px;
  margin: 7.5rem auto 0;
}
/* Feature - 1 */
.feature-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-bottom: 15rem;
}

.feature-text-1 {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
}
.feature-image-1 {
  width: auto;
  height: 100%;
}
.feature-image-1 img {
  width: 100%;
  height: 100%;
}
.floating-image-1 {
  position: absolute;
  transform: translate(30%, 60%);
}
.feature-text-1-heading span {
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #f948b2 100%, #8758f1 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-text-1-heading {
  text-align: right;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.feature-text-1 p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 400px;
  margin-top: 1.5rem;
}

/* Feature - 2 */

.feature-2 {
  position: relative;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-bottom: 15rem;
  padding-inline: 1rem;
}

.feature-text-2-heading span {
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #f948b2 100%, #8758f1 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-text-2-heading {
  text-align: left;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.floating-image-2 {
  position: absolute;
  transform: translate(-10%, 70%);
}

.feature-text-2 p {
  color: #534c64;
  text-align: left;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 400px;
  margin-top: 1.5rem;
}

.feature-text-2 {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
}

/* Career Section */
.career-section {
  margin-bottom: 7.5rem;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  width: 100%;
}

.career-container {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.career-image {
  width: 50%;
}
.career-image img {
  width: 100%;
}
.career-text-area {
  padding-left: 16.25rem;
  width: 50%;
}

.career-heading {
  color: #fff;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 1.5rem;
}

.career-heading p {
  text-align: left;
  color: #fff;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  margin-bottom: 2rem;
}
/* .career-image {
  width: 50%;
} */

.jobs {
  display: flex;
  justify-content: space-between;
}

.jobs-short-description {
  color: #fff;
  font-family: Work Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 3.75rem;
}

.job-button {
  color: #ff42a5;
  padding: 1.25rem 2.5rem;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 3rem;
  background: #fff;
  text-decoration: none;
}

/* Games Genre Section */

.games-genre-section {
  padding: 7.5rem;
  margin: 0 auto;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.games-genre-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
}

.game {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
  background: #ffffff;
  flex-shrink: 0;
  padding: 10px 20px 10px 10px;
}

.game img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}

/* Footer */

footer {
  background: #0b0223;
  padding: 7.5rem 1rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  align-items: center;
}
.footer-logo-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer-container ul {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  color: #fff;
}

.footer-container ul li {
  list-style: none;
}
.footer-links-container {
  margin: 4rem 0;
}

.footer-links {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.footer-logo {
  color: #ffff;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
.some-icon {
  width: 40px;
  height: 40px;
}
.useful-links {
  margin: 4rem 0 1.75rem 0;
}

.useful-links ul li {
  list-style: none;
}

.footer-useful-links {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.footer-note {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
